.footer {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #e1e1e1;
	background-color: #fff;
}

.footer__container {
	padding: 65px 25px;
	padding-bottom: 0px;
}

.footer__logo-img {
	max-width: 300px;
	width: 100%;
}

.h5 {
	font-size: 14px;
	line-height: 1.71em;
	letter-spacing: .07em;
	text-transform: uppercase;
	text-align: left;
}

.h5.title {
	margin-bottom: 19px;
}

.list {
	padding-right: 15px;
}

.list__item,
.list__link {
	color: #534f4f;
	letter-spacing: 0.1em;
	line-height: 19px;
	margin-bottom: 10px;
	transition: color .2s ease;
}

.list__item:hover,
.list__link:hover {
	color: #000;
}

.list__break {
	display: block;
	margin-bottom: 10px;
}

.list__link:focus {
	color: #000;
	text-decoration: none;
}

.footer__powered {
	padding: 19px 40px;
}

.powered {
	text-align: center;
}

.powered__title {
	color: #000;
	letter-spacing: 1.4px;
	line-height: 25px;
	text-transform: uppercase;
	font-family: "opensansSM";
	font-weight: 600;
	margin-bottom: 29px;
}

.powered__image {
	width: 100px;
	max-width: 100%;
	height: auto;
}

.footer__logo {
	margin-bottom: 30px;
}

.footer__text {
	max-width: 74px;
	width: 100%;
	font-size: 12px;
	line-height: 1.37;
	letter-spacing: 0.1em;
	color: #534F4F;
	text-transform: capitalize;
	font-family: "opensans", sans-serif;
}

.footer__inner {
	padding-top: 15px;
	margin-top: 33px;
	border-top: 1px solid #f0f0f0;
}

.footer__inner .footer__container {
	padding: 0 25px;
}

.footer__wrap {
	display: flex;
	align-items: center;
	padding-bottom: 14px;
}

.footer__block {
	display: block;
	max-width: 67px;
	width: 100%;
	margin-left: 16px;
}

